.tagComponent {
    display: flex;
    flex-direction: column;
    padding: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tagComponent:hover {
    cursor: pointer;
    border-width: 3px;
}

.tagLabel {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.tagLabel:hover {
    cursor: inherit;
}
