<div class="home-container">
    <h2 class="title">Toutes les notes</h2>
  
    <div class="note-list">
      <div class="note-card" *ngFor="let note of notes">
        <div class="note-header">
          <h3>{{ note.title }}</h3>
          <span 
            class="tag-label"
            *ngFor="let tag of note.tags"
            [style.backgroundColor]="tag.color"
          >
          {{ tag.name }}
          </span>

        </div>
        <p class="note-content">{{ note.content }}</p>
      </div>
    </div>
  </div>
  
